<% include ./partials/header %>
<!--go back to home-->
<a href="/decks/">home</a>

<h1><%= deck.subject %></h1>
<p>Chapter: <%=deck.chapter%> </p>
<p>Date: <%= deck.created.toDateString() %></p>
<% var count = 0 %> 
<form action="/decks/<%=deck._id%>?_method=PUT" method="POST" >
    <div class="card">
        <div style="border: 1px solid blue; width: 150px">
            <textarea name="deck[cards][front]"></textarea>
            <textarea name="deck[cards][back]"></textarea>
            <input type="submit">
        </div>
    </div>
</form>


<% deck.cards.reverse() %>
<%deck.cards.forEach(function(card){%>
    <div style="border: 1px solid blue; width: 150px">
        
           <div style="border: 1px solid blue; width: 150px">
               <p>Front: <%=card.front%></p>
              </div> 
            <div style="border: 1px solid blue; width: 150px">
                <p>Back: <%=card.back%></p>
            </div>    
         
    </div>  
<% }); %>


<% include ./partials/footer %>