<% include ./partials/header %>
    <div class="ui grid container">
        <div class="show-header">
            <h1 class="show-title"><%= deck.subject %></h1>
            <h4 class="show-chapter">Chapter: <%=deck.chapter%> </h4>
            <p>Date: <%= deck.created.toDateString() %></p>
            <div id="add" class="mini ui blue basic button">
                <a href="/decks/<%=deck._id%>/edit">Add cards</a>
            </div>
            <form id="delete" action="/decks/<%= deck._id%>?_method=DELETE" method="POST">
                <button class="mini ui red button">DELETE!</button>
            </form>
        </div>
        
        <% var count = 0 %> 
        <div class="card-container">
            <% deck.cards.forEach(function(card){ %>
            <div>
                <div class="card front-of-card">
                    <p id="front"><%= deck.cards[count].front %></p>
                    <div class="note">front</div>
                </div>
                <div class="card back-of-card"> 
                    <p id="back"><em><%= deck.cards[count].back %></em></p>
                    <div class="note">back</div>
                </div>
                <div class="nav-btns">
                    <button class="prev" name="prev">prev</button>
                    <button class="next" name="next">next</button>
                </div>
            </div>
            <% count ++ %>
            <% }); %>
        </div>
    </div>
    
    <script>
    
    $('.front-of-card').click(function(){ 
        $( "div.front-of-card" ).toggleClass( "hide" );
        $("div.back-of-card").toggleClass("show")
    });
    $('.back-of-card').click(function(){ 
        $( "div.front-of-card" ).toggleClass( "hide" );
        $("div.back-of-card").toggleClass("show")
    });
    
    $(document).ready(function() {
         var divs = $('.card-container>div');
         var now = 0; // currently shown div
         divs.hide().first().show(); // hide all divs except first
         $("button[name=next]").click(function() {
             $('.front-of-card').removeClass('hide');
             $('.back-of-card').removeClass('show');
             divs.eq(now).hide();
             now = (now + 1 < divs.length) ? now + 1 : 0;
             divs.eq(now).show(); // show next
         });
         $("button[name=prev]").click(function() {
             $('.front-of-card').removeClass('hide');
             $('.back-of-card').removeClass('show');
             divs.eq(now).hide();
             now = (now > 0) ? now - 1 : divs.length - 1;
             divs.eq(now).show(); // show previous
         });
     });</script>

<% include ./partials/footer %>